[Desktop Entry]
Version=30.0
Name=Firefox 30.0
Comment=Test the terminal running a command inside it
Exec=DESTINATION-PATH
Icon=ICON-PATH
Terminal=false
Type=Application
Categories=X-Polaris