[Desktop Entry]
Version=latest
Name=Minecraft Launcher
Comment=Launcher for Minecraft
Exec=DESTINATION-PATH
Icon=ICON-PATH
Terminal=true
Type=Application
Categories=X-Polaris
