[Desktop Entry]
Version=APP-VERSION
Name=Nuke APP-VERSION
Comment=Nuke compositing software
Exec=junogl DESTINATION-PATH
Icon=ICON-PATH
Terminal=false
Type=Application
Categories=X-Polaris
