name: Delete Branch on PR Close
on:
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    if: github.event.ref_type == 'branch'
    runs-on:
      - self-hosted
    steps:
      - name: delete branch
        uses: SvanBoxel/delete-merged-branch@main
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_PASS }}
